<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

    body {
      color: #444444;
      font-family: 'Open Sans', Arial, sans-serif;
      font-weight: normal;
      line-height: 1.6;
      text-align: left;
      word-spacing: 0;
    }
    p,
    td {
      padding: 0;
    }
    strong {
      font-weight: 600;
    }
    h1, h2, h3, h4, h5, h6 {
      font-weight: 600;
      Margin-top: 0;
    }
    h1, h2 {
      line-height: 1.4;
    }
    h1 {
      font-size: 37px;
      Margin-bottom: 12px;
    }
    h2 {
      font-size: 32px;
      Margin-bottom: 12px;
    }
    h3 {
      font-size: 25px;
      Margin-bottom: 8px;
      line-height: 1.5;
    }
    h4 {
      font-size: 18px;
      Margin-bottom: 8px;
    }
    h5 {
      font-size: 15px;
      Margin-bottom: 8px;
    }
    .container {
      display: inline-block;
      -webkit-transform: scale(2);
      transform: scale(1);
      -webkit-transform-origin: left top;
      transform-origin: left top;
    }
    .progress-container {
      width: 730px;
      margin-bottom: 20px
    }
    .progress-stats,
    .goal-label,
    .progress-table {
      width: 660px;
    }
    .goal-label {
      margin-top: 50px;
    }

  </style>
  <link rel="stylesheet" href="https://s3.amazonaws.com/<%= @bucket %>/progress.css">
  <style>
    .progress-container {
      margin-top: 0;
      padding-top: 311px;
    }
  </style>
</head>
<body>
  <div class="container">

    <div class="progress-container" id="progress-bar">
      <div class="progress-percent"></div>
      <div class="progress-bar">
        <div class="progress"></div>
        <div class="progress-count"></div>
      </div>
    </div>

    <div class="progress-container" id="challenge-bar">
      <div class="progress-percent"></div>
      <div class="progress-bar">
        <div class="progress"></div>
        <div class="progress-count"></div>
      </div>
    </div>

    <div id="progress-stats" class="progress-stats">
      <div class="total-goal amount"></div>
      <div class="total-donors amount"></div>
      <div class="total-dollars amount"></div>
    </div>


    <h3 class="goal-label">Class Participation</h3>
    <table id="participation-class" width="100%" cellpadding="0" cellspacing="0" class="progress-table">
      <thead>
        <tr>
          <th class="name"></th>
          <th class="donors"></th>
          <th class="dollars"></th>
        </tr>
      </thead>
      <tbody>
        <tr id="lb-class-1">
          <td class="name"></td>
          <td class="donors"></td>
          <td class="dollars"></td>
        </tr>
        <tr id="lb-class-2" class="alt">
          <td class="name"></td>
          <td class="donors"></td>
          <td class="dollars"></td>
        </tr>
        <tr id="lb-class-3">
          <td class="name"></td>
          <td class="donors"></td>
          <td class="dollars"></td>
        </tr>
        <tr id="lb-class-4" class="alt">
          <td class="name"></td>
          <td class="donors"></td>
          <td class="dollars"></td>
        </tr>
        <tr id="lb-class-5">
          <td class="name"></td>
          <td class="donors"></td>
          <td class="dollars"></td>
        </tr>
      </tbody>
    </table>

    <h3 class="goal-label">Top Supported Areas</h3>
    <table id="participation-areas" width="100%" cellpadding="0" cellspacing="0" class="progress-table">
      <thead>
        <tr>
          <th class="name"></th>
          <th class="donors"></th>
          <th class="dollars"></th>
        </tr>
      </thead>
      <tbody>
        <tr id="lb-support-1">
          <td class="name"></td>
          <td class="donors"></td>
          <td class="dollars"></td>
        </tr>
        <tr id="lb-support-2" class="alt">
          <td class="name"></td>
          <td class="donors"></td>
          <td class="dollars"></td>
        </tr>
        <tr id="lb-support-3">
          <td class="name"></td>
          <td class="donors"></td>
          <td class="dollars"></td>
        </tr>
        <tr id="lb-support-4" class="alt">
          <td class="name"></td>
          <td class="donors"></td>
          <td class="dollars"></td>
        </tr>
        <tr id="lb-support-5">
          <td class="name"></td>
          <td class="donors"></td>
          <td class="dollars"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>