<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

    body {
      color: #444444;
      font-family: 'Open Sans', Arial, sans-serif;
      font-weight: normal;
      line-height: 1.6;
      text-align: left;
      word-spacing: 0;
    }
    p,
    td {
      padding: 0;
    }
    strong {
      font-weight: 600;
    }
    h1, h2, h3, h4, h5, h6 {
      font-weight: 600;
      Margin-top: 0;
    }
    h1, h2 {
      line-height: 1.4;
    }
    h1 {
      font-size: 37px;
      Margin-bottom: 12px;
    }
    h2 {
      font-size: 32px;
      Margin-bottom: 12px;
    }
    h3 {
      font-size: 25px;
      Margin-bottom: 8px;
      line-height: 1.5;
    }
    h4 {
      font-size: 18px;
      Margin-bottom: 8px;
    }
    h5 {
      font-size: 15px;
      Margin-bottom: 8px;
    }
    .progress {
      display: inline-block;
      -webkit-transform: scale(2);
      transform: scale(1);
      -webkit-transform-origin: left top;
      transform-origin: left top;
    }

  </style>
  <link rel="stylesheet" href="progress.css">
  <style type="text/css">
    .progress {
      width: 630px;
      max-width: 100%;
    }
    .progress .goal {
      box-sizing: border-box;
      margin: 0 auto 7px;
      height: 40px;
      width: 100%;
    }
      .progress .goal-text,
      .progress .goal-label {
        text-align: center;
      }
      .progress h3.goal-label {
        margin-top: 50px;
      }
      .progress-table td{
        padding: 10px;
      }
      .progress-table th {
        padding: 0 10px;
      }
      .progress-table .name {
        width: 60%;
      }
      .progress-table .alt {
        background-color: #e5e5e3;
      }
    .progress-row {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
    }
    .progress .amount:before,
    .progress .amount:after {
      display: block;
    }
    .progress .amount:after {
      color: #888888;
      text-transform: uppercase;
    }
      .progress .amount:before {
        font-size: 50px;
      }
      .progress .amount-container {
        text-align: center;
        width: 50%;
      }
    .progress .amount-container + .amount-container {
      border-left: 1px solid #cccccc;
    }
  </style>
</head>
<body>
  <div class="progress">
    <h2 class="goal-label">Giving Day Progress</h2>
    <div class="goal">
      <div class="goal-slider"></div>
    </div>
    <div class="goal-text"></div>
    <div class="progress-row">
      <div class="amount-container">
        <div class="total-donors amount"></div>
      </div>

      <div class="amount-container">
        <div class="total-dollars amount"></div>
      </div>
    </div>

    <h3 class="goal-label">Class Participation</h3>
    <table width="100%" cellpadding="0" cellspacing="0" class="progress-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Donors</th>
          <th>Dollars</th>
        </tr>
      </thead>
      <tbody>
        <tr id="lb-class-1">
          <td class="name"></td>
          <td class="donors"></td>
          <td class="dollars"></td>
        </tr>
        <tr id="lb-class-2" class="alt">
          <td class="name"></td>
          <td class="donors"></td>
          <td class="dollars"></td>
        </tr>
        <tr id="lb-class-3">
          <td class="name"></td>
          <td class="donors"></td>
          <td class="dollars"></td>
        </tr>
        <tr id="lb-class-4" class="alt">
          <td class="name"></td>
          <td class="donors"></td>
          <td class="dollars"></td>
        </tr>
        <tr id="lb-class-5">
          <td class="name"></td>
          <td class="donors"></td>
          <td class="dollars"></td>
        </tr>
      </tbody>
    </table>

    <h3 class="goal-label">Top Supported Areas</h3>
    <table width="100%" cellpadding="0" cellspacing="0" class="progress-table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Donors</th>
        <th>Dollars</th>
      </tr>
      </thead>
      <tbody>
      <tr id="lb-support-1">
        <td class="name"></td>
        <td class="donors"></td>
        <td class="dollars"></td>
      </tr>
      <tr id="lb-support-2" class="alt">
        <td class="name"></td>
        <td class="donors"></td>
        <td class="dollars"></td>
      </tr>
      <tr id="lb-support-3">
        <td class="name"></td>
        <td class="donors"></td>
        <td class="dollars"></td>
      </tr>
      <tr id="lb-support-4" class="alt">
        <td class="name"></td>
        <td class="donors"></td>
        <td class="dollars"></td>
      </tr>
      <tr id="lb-support-5">
        <td class="name"></td>
        <td class="donors"></td>
        <td class="dollars"></td>
      </tr>
      </tbody>
    </table>

  </div>
</body>
</html>