<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

    body {
      color: #444444;
      font-family: 'Open Sans', Arial, sans-serif;
      font-weight: normal;
      line-height: 1.6;
      text-align: left;
      word-spacing: 0;
    }
    p,
    td {
      padding: 0;
    }
    strong {
      font-weight: 600;
    }
    h1, h2, h3, h4, h5, h6 {
      font-weight: 600;
      Margin-top: 0;
    }
    h1, h2 {
      line-height: 1.4;
    }
    h1 {
      font-size: 37px;
      Margin-bottom: 12px;
    }
    h2 {
      font-size: 32px;
      Margin-bottom: 12px;
    }
    .progress {
      display: inline-block;
      -webkit-transform: scale(2);
      transform: scale(2);
      -webkit-transform-origin: left top;
      transform-origin: left top;
    }
  </style>
  <link rel="stylesheet" href="progress.css">
</head>
<body>
  <div class="progress">
    <h1 class="donors"></h1>
    <div class="goal">
      <div class="goal-slider"></div>
    </div>
    <div class="goal-text"></div>
    <h2 class="raised"></h2>
  </div>
</body>
</html>