<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="progress.css">
</head>
<body>
  <div class="progress">
    <h1 class="donors"></h1>
    <div class="goal">
      <div class="goal-slider"></div>
    </div>
    <div class="goal-text"></div>
    <h2 class="raised"></h2>
  </div>
</body>
</html>